#container {
    height: 150px;
    margin: 0 0 200px 0;
}

body .class {
    position: relative;
}

body .index-point {
    display: none;
    position: absolute;
    top: 0;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

body .index-point-active {
    display: block;
}

body .nav-button {
    display: inline;
    padding: 10px;
}

body #navButtons {
    text-align: center;
}

body #align {
    text-align: center;
}


